<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Biografia</title>
</head>

<body class="align">

    <div class="image">
        <img src="/image/artinsertion.png" alt="Imagem" width="500" height="230">
    </div>
    <div class="form">
        <div class="grid">
            <form action="/bio" method="POST" class="form login" id="bioForm">

                <div class="">
                    <span>Bio</span>
                    <textarea id="bio" name="bio" class="form__textarea" placeholder="Um breve resumo sobre você e suas experiências" required></textarea>
                </div> 
                
                <div class="">
                    <span>Ramo</span>
                    <select id="branch" name="branch" class="form__input" multiple required>
                        <option value="pintura">Pintura</option>
                        <option value="escultura">Escultura</option>
                        <option value="fotografia">Fotografia</option>
                        <option value="musica">Música</option>
                        <option value="ator">Ator</option>
                        <option value="designer">Designer</option>
                        <option value="dancarino">Dançarino</option>
                        <option value="escritor">Escritor</option>
                        <option value="poeta">Poeta</option>
                        <option value="cineasta">Cineasta</option>
                        <option value="artesanato">Artesanato</option>
                        <option value="teatro">Teatro</option>
                        <option value="comediante">Comediante</option>
                        <option value="outros">Outros</option>
                    </select>
                </div>
                
                <div class="">
                    <span>Gênero</span>
                    <select id="gender" name="gender" class="form__input" required>
                        <option value="" disabled selected>Selecione um gênero</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="nao_binario">Não binário</option>
                        <option value="prefiro_nao_declarar">Prefiro não declarar</option>
                        <!-- Adicione mais opções de gênero conforme necessário -->
                    </select>
                </div>
                
                <div class="">
                    <span>Idioma Secundário</span>
                    <select id="languages" name="languages" class="form__input" required>
                        <option value="" disabled selected>Selecione um idioma</option>
                        <option value="ingles">Inglês</option>
                        <option value="espanhol">Espanhol</option>
                        <option value="frances">Francês</option>
                        <option value="alemao">Alemão</option>
                        <option value="chines">Chinês</option>
                        <option value="japones">Japonês</option>
                        <option value="portugues">Português</option>
                        <option value="italiano">Italiano</option>
                        <option value="russo">Russo</option>
                        <option value="nao_possuo">Não Possuo</option>
                        <!-- Adicione mais opções de idiomas conforme necessário -->
                    </select>
                </div>
                

                <div class="">
                    <span>Imagem de Perfil</span>
                    <input id="profileImage" type="file" name="profileImage" accept="image/*" class="form__input" >
                </div>
                

                <div class="form__field">
                    <input type="submit" value="Finalizar">
                </div>

                <div class="form__field">
                        <a class="btn-bio" href="http://localhost:3000/home">Continuar depois</a>

                </div>

            </form>

            <p class="text--center">Já tem cadastro?Faça <a href="http://localhost:3000/login">Login</a> <svg
                    class="icon">
                    <use xlink:href="#icon-arrow-right"></use>
                </svg></p>

        </div>

        <svg xmlns="http://www.w3.org/2000/svg" class="icons">
            <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
                <path
                    d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
            </symbol>
        </svg>
    </div>
    <script>
        document.getElementById('bioForm').addEventListener("submit", async function (event) {
            event.preventDefault(); // Evita o envio automático do formulário
            try {
                const formData = new FormData(this);
                const data = Object.fromEntries(formData);
    
                // Obtenha o token do armazenamento local ou de onde você o armazenou após o login
                const accessToken = localStorage.getItem('accessToken');
                const response = await fetch('/bio', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${accessToken}`
                    },
                    body: JSON.stringify(data)
                });
    
                if (response.ok) {
                   alert('Cadastro realizado com sucesso!');
                    window.location.href = 'http://localhost:3000/home';
                } else {
                    console.error('Erro na requisição:', response.status, response.statusText);
                    alert('Erro ao processar a solicitação. Tente novamente.');
                }
            } catch (error) {
                console.error('Erro na requisição:', error);
                alert('Erro ao processar a solicitação. Tente novamente mais tarde.');
            }
        });
    </script>
</body>

</html>