<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Cadastro</title>
</head>

<body class="align">

    <div class="image">
        <img src="/image/artinsertion.png" alt="Imagem" width="500" height="230">
    </div>
    <div class="form">
        <div class="grid">
            <form action="/register" method="POST" class="form login" id="registerForm">

                <div class="">
                    <span>Nome Completo</span>
                    <input id="full_name" type="text" name="full_name" class="form__input" placeholder="Nome Completo"
                        required>
                </div>

                <div class="">
                    <span>Username</span>
                    <input id="username" type="text" name="username" class="form__input" placeholder="Username"
                        required>
                </div>

                <div class="">
                    <span>Telefone</span>
                    <input id="phone" type="text" name="phone" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{5})-([0-9]{4})"
                        class="form__input" placeholder="Telefone" required><br>
                    <span>Formato do telefone:(99) 99999-9999</span>
                </div>

                <div class="">
                    <span>Data Nascimento</span>
                    <input id="date_of_birth" type="date" name="date_of_birth" class="form__input"
                        placeholder="Data de Nascimento" required>
                </div>

                <div class="">
                    <span>Email</span>
                    <input autocomplete="email" id="email" type="email" name="email" class="form__input"
                        placeholder="Email" required>
                </div>

                <div class="">
                    <span>Cidade</span>
                    <input id="city" type="text" name="city" class="form__input" placeholder="Cidade" required>
                </div>

                <div class="">
                    <span>Estado</span>
                    <select id="UF" type="text" name="UF" class="form__input" required>
                        <option value="" selected disabled>Selecione o estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>

                <div class="">
                    <span>Senha</span>
                    <input id="password" type="password" name="password" class="form__input" placeholder="Password"
                        required>
                </div>

                <div class="form__field">
                    <input type="submit" value="Cadastre-se">
                </div>

            </form>

            <p class="text--center">Já tem cadastro?Faça <a href="http://localhost:3000/login">Login</a> <svg
                    class="icon">
                    <use xlink:href="#icon-arrow-right"></use>
                </svg></p>

        </div>

        <svg xmlns="http://www.w3.org/2000/svg" class="icons">
            <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
                <path
                    d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
            </symbol>
        </svg>
    </div>
    <script>
        document.getElementById('registerForm').addEventListener("submit", async function (event) {
            event.preventDefault(); // Evita o envio automático do formulário
            try {
                const formData = new FormData(this);
                const data = Object.fromEntries(formData);

                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                if (response.ok) {
                    const responseData = await response.json();
                    localStorage.setItem('accessToken', responseData.token);
                    alert('Cadastro realizado com sucesso!');
                    window.location.href = 'http://localhost:3000/bio';
                } else {
                    console.log('Erro na requisição:', response.status, response.statusText);
                    alert('Email, Telefone ou Username já existem. Verifique os dados e tente novamente.');
                }
            } catch (error) {
                console.error('Erro na requisição:', error);
                alert('Erro ao processar a solicitação. Tente novamente mais tarde.');
            }
        });
    </script>
</body>

</html>