<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <aside>
        <img src="" alt="">
        <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                    <path
                        d="M22.4999 11.25C22.4999 10.9516 22.3814 10.6655 22.1704 10.4545C21.9594 10.2435 21.6733 10.125 21.3749 10.125C21.0765 10.125 20.7904 10.2435 20.5794 10.4545C20.3684 10.6655 20.2499 10.9516 20.2499 11.25H22.4999ZM6.74991 11.25C6.74991 10.9516 6.63138 10.6655 6.4204 10.4545C6.20942 10.2435 5.92328 10.125 5.62491 10.125C5.32654 10.125 5.04039 10.2435 4.82941 10.4545C4.61843 10.6655 4.49991 10.9516 4.49991 11.25H6.74991ZM22.8295 14.2954C23.0417 14.5003 23.3259 14.6137 23.6209 14.6111C23.9158 14.6086 24.198 14.4903 24.4066 14.2817C24.6152 14.0731 24.7335 13.7909 24.736 13.496C24.7386 13.201 24.6252 12.9168 24.4203 12.7046L22.8295 14.2954ZM13.4999 3.375L14.2953 2.57963C14.0843 2.36872 13.7982 2.25024 13.4999 2.25024C13.2016 2.25024 12.9155 2.36872 12.7045 2.57963L13.4999 3.375ZM2.57953 12.7046C2.47208 12.8084 2.38638 12.9325 2.32742 13.0698C2.26846 13.2071 2.23742 13.3547 2.23613 13.5041C2.23483 13.6534 2.26329 13.8016 2.31986 13.9398C2.37642 14.0781 2.45996 14.2037 2.56559 14.3093C2.67122 14.415 2.79683 14.4985 2.93508 14.5551C3.07334 14.6116 3.22148 14.6401 3.37086 14.6388C3.52024 14.6375 3.66786 14.6065 3.80511 14.5475C3.94237 14.4885 4.06651 14.4028 4.17028 14.2954L2.57953 12.7046ZM7.87491 24.75H19.1249V22.5H7.87491V24.75ZM22.4999 21.375V11.25H20.2499V21.375H22.4999ZM6.74991 21.375V11.25H4.49991V21.375H6.74991ZM24.4203 12.7046L14.2953 2.57963L12.7045 4.17038L22.8295 14.2954L24.4203 12.7046ZM12.7045 2.57963L2.57953 12.7046L4.17028 14.2954L14.2953 4.17038L12.7045 2.57963ZM19.1249 24.75C20.02 24.75 20.8785 24.3944 21.5114 23.7615C22.1443 23.1286 22.4999 22.2701 22.4999 21.375H20.2499C20.2499 21.6734 20.1314 21.9595 19.9204 22.1705C19.7094 22.3815 19.4233 22.5 19.1249 22.5V24.75ZM7.87491 22.5C7.57654 22.5 7.29039 22.3815 7.07941 22.1705C6.86843 21.9595 6.74991 21.6734 6.74991 21.375H4.49991C4.49991 22.2701 4.85549 23.1286 5.48842 23.7615C6.12136 24.3944 6.9798 24.75 7.87491 24.75V22.5Z"
                        fill="white" />
                </svg><a href="">Inicio</a></li>
            <li> <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <path
                        d="M18.0714 10.6786V12.3214C18.0714 12.6603 17.7942 12.9375 17.4554 12.9375H12.9375V17.4554C12.9375 17.7942 12.6603 18.0714 12.3214 18.0714H10.6786C10.3397 18.0714 10.0625 17.7942 10.0625 17.4554V12.9375H5.54464C5.2058 12.9375 4.92857 12.6603 4.92857 12.3214V10.6786C4.92857 10.3397 5.2058 10.0625 5.54464 10.0625H10.0625V5.54464C10.0625 5.2058 10.3397 4.92857 10.6786 4.92857H12.3214C12.6603 4.92857 12.9375 5.2058 12.9375 5.54464V10.0625H17.4554C17.7942 10.0625 18.0714 10.3397 18.0714 10.6786ZM23 2.46429V20.5357C23 21.8962 21.8962 23 20.5357 23H2.46429C1.10379 23 0 21.8962 0 20.5357V2.46429C0 1.10379 1.10379 0 2.46429 0H20.5357C21.8962 0 23 1.10379 23 2.46429ZM20.5357 20.2277V2.77232C20.5357 2.6029 20.3971 2.46429 20.2277 2.46429H2.77232C2.6029 2.46429 2.46429 2.6029 2.46429 2.77232V20.2277C2.46429 20.3971 2.6029 20.5357 2.77232 20.5357H20.2277C20.3971 20.5357 20.5357 20.3971 20.5357 20.2277Z"
                        fill="#AE71D3" />
                </svg><a href="#">Publicar</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <path
                        d="M19.7916 4.16668H17.7083V3.12501C17.7083 2.84874 17.5985 2.58379 17.4032 2.38844C17.2078 2.19309 16.9429 2.08334 16.6666 2.08334C16.3903 2.08334 16.1254 2.19309 15.93 2.38844C15.7347 2.58379 15.6249 2.84874 15.6249 3.12501V4.16668H9.37492V3.12501C9.37492 2.84874 9.26517 2.58379 9.06982 2.38844C8.87447 2.19309 8.60952 2.08334 8.33325 2.08334C8.05698 2.08334 7.79203 2.19309 7.59668 2.38844C7.40133 2.58379 7.29158 2.84874 7.29158 3.12501V4.16668H5.20825C4.37945 4.16668 3.58459 4.49592 2.99854 5.08197C2.41249 5.66802 2.08325 6.46288 2.08325 7.29168V19.7917C2.08325 20.6205 2.41249 21.4153 2.99854 22.0014C3.58459 22.5874 4.37945 22.9167 5.20825 22.9167H19.7916C20.6204 22.9167 21.4152 22.5874 22.0013 22.0014C22.5873 21.4153 22.9166 20.6205 22.9166 19.7917V7.29168C22.9166 6.46288 22.5873 5.66802 22.0013 5.08197C21.4152 4.49592 20.6204 4.16668 19.7916 4.16668ZM20.8333 19.7917C20.8333 20.0679 20.7235 20.3329 20.5282 20.5282C20.3328 20.7236 20.0679 20.8333 19.7916 20.8333H5.20825C4.93198 20.8333 4.66703 20.7236 4.47168 20.5282C4.27633 20.3329 4.16659 20.0679 4.16659 19.7917V12.5H20.8333V19.7917ZM20.8333 10.4167H4.16659V7.29168C4.16659 7.01541 4.27633 6.75046 4.47168 6.55511C4.66703 6.35976 4.93198 6.25001 5.20825 6.25001H7.29158V7.29168C7.29158 7.56794 7.40133 7.8329 7.59668 8.02825C7.79203 8.2236 8.05698 8.33334 8.33325 8.33334C8.60952 8.33334 8.87447 8.2236 9.06982 8.02825C9.26517 7.8329 9.37492 7.56794 9.37492 7.29168V6.25001H15.6249V7.29168C15.6249 7.56794 15.7347 7.8329 15.93 8.02825C16.1254 8.2236 16.3903 8.33334 16.6666 8.33334C16.9429 8.33334 17.2078 8.2236 17.4032 8.02825C17.5985 7.8329 17.7083 7.56794 17.7083 7.29168V6.25001H19.7916C20.0679 6.25001 20.3328 6.35976 20.5282 6.55511C20.7235 6.75046 20.8333 7.01541 20.8333 7.29168V10.4167Z"
                        fill="white" />
                </svg><a href="#">Eventos</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22" fill="none">
                    <path
                        d="M22.3828 1.57822C19.5605 -0.794828 15.2002 -0.438383 12.5 2.31064C9.7998 -0.438383 5.43946 -0.799711 2.61719 1.57822C-1.05468 4.66904 -0.517572 9.70809 2.09961 12.379L10.6641 21.1046C11.1523 21.6026 11.8066 21.8809 12.5 21.8809C13.1982 21.8809 13.8477 21.6075 14.3359 21.1095L22.9004 12.3839C25.5127 9.71298 26.0596 4.67392 22.3828 1.57822ZM21.2305 10.7335L12.666 19.4591C12.5488 19.5763 12.4512 19.5763 12.334 19.4591L3.76953 10.7335C1.98731 8.91708 1.62598 5.47958 4.12598 3.37509C6.02539 1.77841 8.95508 2.01767 10.791 3.88779L12.5 5.63095L14.209 3.88779C16.0547 2.0079 18.9844 1.77841 20.874 3.37021C23.3691 5.4747 22.998 8.93173 21.2305 10.7335Z"
                        fill="white" />
                </svg><a href="#">Curtidas</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <path
                        d="M22.4273 15.0727L20.3125 12.9578V10.1562C20.3101 8.22019 19.5899 6.35379 18.2911 4.91795C16.9924 3.48212 15.2074 2.57885 13.2812 2.38281V0.78125H11.7188V2.38281C9.79264 2.57885 8.00763 3.48212 6.70888 4.91795C5.41014 6.35379 4.68992 8.22019 4.6875 10.1562V12.9578L2.57266 15.0727C2.42613 15.2191 2.34379 15.4178 2.34375 15.625V17.9688C2.34375 18.176 2.42606 18.3747 2.57257 18.5212C2.71909 18.6677 2.9178 18.75 3.125 18.75H8.59375V19.357C8.57676 20.3482 8.9261 21.3107 9.57483 22.0602C10.2236 22.8097 11.1261 23.2934 12.1094 23.4188C12.6525 23.4726 13.2009 23.4122 13.7192 23.2414C14.2376 23.0706 14.7144 22.7932 15.1192 22.4271C15.5239 22.0609 15.8475 21.6141 16.0691 21.1154C16.2908 20.6166 16.4056 20.077 16.4062 19.5312V18.75H21.875C22.0822 18.75 22.2809 18.6677 22.4274 18.5212C22.5739 18.3747 22.6562 18.176 22.6562 17.9688V15.625C22.6562 15.4178 22.5739 15.2191 22.4273 15.0727ZM14.8438 19.5312C14.8438 20.1529 14.5968 20.749 14.1573 21.1885C13.7177 21.6281 13.1216 21.875 12.5 21.875C11.8784 21.875 11.2823 21.6281 10.8427 21.1885C10.4032 20.749 10.1562 20.1529 10.1562 19.5312V18.75H14.8438V19.5312ZM21.0938 17.1875H3.90625V15.9484L6.02109 13.8336C6.16762 13.6871 6.24996 13.4884 6.25 13.2812V10.1562C6.25 8.49865 6.90848 6.90894 8.08058 5.73683C9.25268 4.56473 10.8424 3.90625 12.5 3.90625C14.1576 3.90625 15.7473 4.56473 16.9194 5.73683C18.0915 6.90894 18.75 8.49865 18.75 10.1562V13.2812C18.75 13.4884 18.8324 13.6871 18.9789 13.8336L21.0938 15.9484V17.1875Z"
                        fill="white" />
                </svg><a href="#">Notificações</a></li>
        </ul>

        <hr>
        <div>
            <p>Favoritos</p>
            <ul>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="31" height="27" viewBox="0 0 31 27" fill="none">
                        <path
                            d="M9.89053 12.9277C8.17503 13.4788 7.0242 15.1003 7.1399 16.8353C7.68496 16.1645 8.51737 15.5855 9.52573 15.2047L9.89053 12.9277ZM4.581 15.5565L3.06392 6.09022C3.05005 6.00479 3.0773 5.95206 3.07539 5.95048C5.83702 4.25983 8.96202 3.366 12.1124 3.366C12.1893 3.366 12.2668 3.37496 12.3443 3.37602C13.0112 2.66569 13.8613 2.1721 14.8109 2.00494C15.7141 1.84568 16.6301 1.765 17.5448 1.72439C17.0671 0.988758 16.3743 0.446655 15.5477 0.300582C14.4045 0.0996668 13.2556 0 12.1119 0C8.44661 0 4.8301 1.02409 1.58748 3.00899C0.431858 3.71668 -0.187309 5.19322 0.0503174 6.67504L1.5674 16.1413C2.24776 20.3874 8.08562 23.6337 11.3426 23.6337C11.5142 23.6337 11.6653 23.6094 11.8212 23.5915C11.1748 22.6908 10.4375 21.4568 9.93261 20.0278C7.65627 19.3433 4.86165 17.3056 4.581 15.5565ZM9.24507 8.30768C9.21017 8.09041 9.13845 7.89266 9.05047 7.70651C8.65602 8.17637 8.0622 8.53707 7.36175 8.6726C6.6613 8.80865 5.99098 8.69369 5.47413 8.39996C5.44926 8.60773 5.44353 8.82078 5.47843 9.03804C5.66203 10.1824 6.65365 10.9465 7.69404 10.745C8.73396 10.5436 9.42867 9.452 9.24507 8.30768ZM29.0125 6.37551C24.7582 3.77152 19.8598 2.82073 15.0523 3.66763C13.7466 3.89755 12.7057 5.05242 12.4686 6.53424L10.9515 16.0005C10.2157 20.591 15.507 26.3505 18.5206 26.9348C21.5342 27.5196 28.2968 24.0983 29.0326 19.5078L30.5497 10.0416C30.7873 8.55922 30.1681 7.08267 29.0125 6.37551ZM15.9483 11.4801C16.1319 10.3358 17.1236 9.5717 18.1639 9.77368C19.2043 9.97565 19.8986 11.0667 19.7155 12.211C19.6805 12.4283 19.6088 12.626 19.5209 12.8122C19.1264 12.3423 18.5326 11.9816 17.8321 11.8461C17.1317 11.7101 16.4614 11.825 15.9445 12.1187C15.9192 11.9104 15.9134 11.6974 15.9483 11.4801ZM19.3177 21.9615C16.6555 21.4452 14.8463 18.836 15.0605 16.0079C16.0454 17.3547 17.748 18.4426 19.8173 18.8439C21.8866 19.2452 23.8249 18.8634 25.1689 17.9685C24.4909 20.7075 21.9794 22.4778 19.3177 21.9615ZM25.5476 13.9808C25.1531 13.5109 24.5588 13.1502 23.8584 13.0147C23.1579 12.8786 22.4876 12.9936 21.9707 13.2873C21.9459 13.0796 21.9401 12.8665 21.9751 12.6492C22.1586 11.5049 23.1503 10.7408 24.1907 10.9423C25.2306 11.1442 25.9253 12.2353 25.7422 13.3796C25.7073 13.5974 25.6355 13.7952 25.5476 13.9808Z"
                            fill="white" />
                    </svg><a href="#">Artes Cenicas</a></li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <path
                            d="M10.7732 0.265524C5.53132 1.28859 1.3072 5.50213 0.273582 10.7282C-1.67764 20.5897 7.21886 27.941 13.9216 26.9021C16.0943 26.5646 17.1595 24.0227 16.1628 22.0663C14.9446 19.6721 16.6849 16.8771 19.3744 16.8771H23.5775C25.4654 16.8771 26.9947 15.3162 27 13.4335C26.9736 5.12244 19.4113 -1.41673 10.7732 0.265524ZM5.06198 16.8771C4.12856 16.8771 3.37444 16.123 3.37444 15.1896C3.37444 14.2562 4.12856 13.5021 5.06198 13.5021C5.9954 13.5021 6.74952 14.2562 6.74952 15.1896C6.74952 16.123 5.9954 16.8771 5.06198 16.8771ZM6.74952 10.127C5.8161 10.127 5.06198 9.3729 5.06198 8.43948C5.06198 7.50607 5.8161 6.75196 6.74952 6.75196C7.68294 6.75196 8.43706 7.50607 8.43706 8.43948C8.43706 9.3729 7.68294 10.127 6.74952 10.127ZM13.4997 6.75196C12.5663 6.75196 11.8121 5.99784 11.8121 5.06443C11.8121 4.13102 12.5663 3.3769 13.4997 3.3769C14.4331 3.3769 15.1872 4.13102 15.1872 5.06443C15.1872 5.99784 14.4331 6.75196 13.4997 6.75196ZM20.2498 10.127C19.3164 10.127 18.5623 9.3729 18.5623 8.43948C18.5623 7.50607 19.3164 6.75196 20.2498 6.75196C21.1833 6.75196 21.9374 7.50607 21.9374 8.43948C21.9374 9.3729 21.1833 10.127 20.2498 10.127Z"
                            fill="white" />
                    </svg><a href="#">Artes Visuais</a></li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="28" height="27" viewBox="0 0 28 27" fill="none">
                        <path
                            d="M24.9775 0.0780646L7.98686 5.06123C7.64197 5.16882 7.34061 5.38286 7.12661 5.67223C6.9126 5.9616 6.79709 6.31121 6.79688 6.67025V20.4563C6.24046 20.3222 5.67022 20.2528 5.09766 20.2496C2.28333 20.2496 0 21.7611 0 23.6248C0 25.4885 2.28333 27 5.09766 27C7.91199 27 10.1953 25.4885 10.1953 23.6248V11.3011L23.7891 7.34581V17.0817C23.2327 16.9471 22.6624 16.8775 22.0898 16.8744C19.2755 16.8744 16.9922 18.3859 16.9922 20.2496C16.9922 22.1133 19.2755 23.6248 22.0898 23.6248C24.9042 23.6248 27.1875 22.1139 27.1875 20.2496V1.68603C27.1873 1.4211 27.1242 1.15995 27.0035 0.923709C26.8827 0.687473 26.7077 0.482788 26.4925 0.326222C26.2773 0.169656 26.028 0.0656063 25.7648 0.0224944C25.5016 -0.0206176 25.2319 -0.00158058 24.9775 0.0780646Z"
                            fill="white" />
                    </svg><a href="#">Musica</a></li>

            </ul>
        </div>
        <hr>
        <div class="footer">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="30" viewBox="0 0 29 30" fill="none">
                <path
                    d="M28.2381 18.6048L25.7315 17.1169C25.9845 15.7137 25.9845 14.2742 25.7315 12.871L28.2381 11.3831C28.5264 11.2137 28.6558 10.8629 28.5617 10.5363C27.9086 8.38309 26.7965 6.43552 25.3431 4.81455C25.1195 4.56657 24.7547 4.50609 24.4723 4.67544L21.9657 6.16334C20.9125 5.23189 19.7004 4.51214 18.3883 4.04036V1.07062C18.3883 0.731909 18.1588 0.435539 17.8352 0.362959C15.6757 -0.133007 13.4634 -0.108814 11.4098 0.362959C11.0862 0.435539 10.8568 0.731909 10.8568 1.07062V4.04641C9.55051 4.52423 8.3384 5.24399 7.27929 6.16939L4.77859 4.68149C4.49027 4.51214 4.13135 4.56657 3.90776 4.8206C2.45441 6.43552 1.34234 8.38309 0.689216 10.5424C0.589188 10.869 0.72452 11.2198 1.01284 11.3891L3.51942 12.877C3.2664 14.2802 3.2664 15.7198 3.51942 17.123L1.01284 18.6109C0.72452 18.7802 0.595072 19.131 0.689216 19.4576C1.34234 21.6109 2.45441 23.5584 3.90776 25.1794C4.13135 25.4274 4.49616 25.4879 4.77859 25.3185L7.28517 23.8306C8.3384 24.7621 9.55051 25.4818 10.8626 25.9536V28.9294C10.8626 29.2681 11.0921 29.5645 11.4157 29.637C13.5752 30.133 15.7875 30.1088 17.841 29.637C18.1647 29.5645 18.3941 29.2681 18.3941 28.9294V25.9536C19.7004 25.4758 20.9125 24.756 21.9716 23.8306L24.4782 25.3185C24.7665 25.4879 25.1254 25.4334 25.349 25.1794C26.8024 23.5645 27.9144 21.6169 28.5676 19.4576C28.6558 19.125 28.5264 18.7742 28.2381 18.6048ZM14.6225 19.8326C12.0277 19.8326 9.91531 17.6613 9.91531 14.994C9.91531 12.3266 12.0277 10.1553 14.6225 10.1553C17.2173 10.1553 19.3297 12.3266 19.3297 14.994C19.3297 17.6613 17.2173 19.8326 14.6225 19.8326Z"
                    fill="white" />
            </svg><a href="#">Configurações</a>
        </div>
    </aside>
    <div> </div>
    <aside></aside>
</body>

</html>